*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    background-color: peachpuff;
}
.logo, .navbar a {
    text-decoration: none; /* Exclude underlining for logo and navbar links */
}
.heading{
    width: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:auto;
    margin-top: 10%;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
/* h1{
    font-size: 50px;
    color:black;
    margin-bottom: 20px;
    position: relative;
}
 h1::after{ 
    /* content:""; */
    /* position:absolute;  */
    /* width:30%;
    height:2px;
    display:block;
    margin: 0 auto; 
      }  */ 

/* .navbar a {
    font-size: 1.7rem;
    color: #F4CCCC;
    margin-left: 4rem;
    transition: .3s;
}

/* .navbar a:hover,
.navbar a,:active {
    color: white
} */

/* .heading{
    background-color: white;
    width: f;
} */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:white;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    z-index: 100;
}
.navbar{
    background-color: white;
}

.navbar a {
    font-size: 1.7rem;
    color: #F4CCCC;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a,:active {
    color: orange;
    background-color: white;
}
.logo{
    font-size: 2.5rem;
    color: orange;
    font-weight: 600;
    cursor: default;
    background-color: white;

}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display:none
}
h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.p{
    text-size-adjust: 100%;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background:  peachpuff;
    border-radius: 4rem;
    box-shadow: 0 0 1rem orange;
    font-size: 1.6rem;
    color: orange;
    letter-spacing: 600;
    font-weight: 600;
    transition: .5s ease;
    margin-left: auto;
}

.btn:hover {
    box-shadow: none;
}
